<div id="request-booking-form">
  <h2>Choose your dates:<h2>
  <form action="/booking/:space_id/book" method="post">

  <%@availability.each do |date|%>

      <div class="<%=date['dates']%> space-availability">
        <input type="checkbox" id="<%=date['dates']%>" name="<%=date['availability_id']%>" value="<%=date['availability_id']%>">
        <label for="<%=date['dates']%>"><%=date['dates']%></label>
      </div>

    <%end%>

  <input type="submit" class="btn btn-secondary" value="Request">

  </form>
</div>