<div id="main-view">
  <div id="add-space-button">
    <form action="/add_space" method="get">
      <input type="submit" class="btn btn-secondary" value="Add Space">
    </form>
  </div> 

  <%@spaces.each do |space|%>

    <div class="space-block" id="space-block-<%=space.space_id%>">

      <div class= "space-display" id="<%=space.space_id%> space-display">
        <h2><%=space.space_name%></h2>
        <h3><%=space.space_description%></h3>
        <h5><%= space.price_per_night %> per night</h5>
      </div>

      <div class="space-host-review" id="<%=space.space_id%> space-host-review">
        <form action='/review-request/<%= @current_user %>' method='get'>
          <input type="hidden" value="<%=space.space_id%>">
          <input type="submit" class="btn btn-secondary" value="Review Booking Requests">
        </form>
      </div>

      <div class="space-book" id="<%=space.space_id%> space-book"> 
        <form action='/booking/<%=space.space_id%>/book' method='get'>
          <input type="hidden" value="<%=space.space_id%>">
          <input type="submit" class="btn btn-secondary" value="Book">
        </form>
      </div>

      <div class="space-edit-button" id="<%=space.space_id%> space-edit-button">
        <form action="/edit_space/<%=space.space_id%>/edit" method='get'>
          <input type="hidden" value="<%=space.space_id%>">
          <button type='submit' class="btn btn-secondary" value='Edit'>
            <i class='fas fa-edit'></i>
          </button>
        </form>
      </div>

      <div class="space-delete-button" id="<%=space.space_id%> space-delete-button">
        <form action="/delete_space/<%=space.space_id%>/delete" method='post'>
          <button type='submit' class="btn btn-secondary" value='Delete'>
            <i class='fas fa-trash-alt'></i>
          </button>
        </form>
      </div>
      
    </div>
    
  <%end%>
</div>