<div class="main-content">  
    <%@spaces.each do |space|%>

      <div class="<%=space.space_id%> space-display">
        <h2><%=space.space_name%></h2>
        <h3><%=space.space_description%></h3>
      </div>

      <div class="<%=space.space_id%> space-book"> 
        <form action='/booking/<%=space.space_id%>/book' method='get'>
          <input type="hidden" value="<%=space.space_id%>">
          <input type="submit" class="btn btn-secondary" value="Book">
        </form>
      </div>

      <div class="<%=space.space_id%> space-edit-button">
        <form action="/edit_space/<%=space.space_id%>/edit" method='get'>
          <input type="hidden" value="<%=space.space_id%>">
          <button type='submit' class="btn btn-secondary" value='Edit'>
            <i class='fas fa-edit'></i>
          </button>
        </form>
      </div>

      <div class="<%=space.space_id%> space-delete-button">
        <button type='submit' class="btn btn-secondary" value='Delete'>
          <i class='fas fa-trash-alt'></i>
        </button>
      </div>
     
    <%end%>
    </ul>

    <div class="main-container">
      <div id="add-space-button">
        <form action="/add_space" method="get">
          <input type="submit" class="btn btn-secondary" value="Add Space">
        </form>
      </div> 
    <div>
  </div>