    <%@spaces.each do |space|%>

      <div class="<%=space.space_id%> space-display">
        <h2><%=space.space_name%></h2>
        <h3><%=space.space_description%></h3>
      </div>

      <div class="<%=space.space_id%> space-edit-button">
        <form action="/edit_space">
          <button type='submit' value='Edit'>
            <i class='fas fa-edit'></i>
          </button>
        </form>
      </div>

      <div class="<%=space.space_id%> space-delete-button">
        <button type='submit' value='Delete'>
          <i class='fas fa-trash-alt'></i>
        </button>
      </div>
     
    <%end%>

    <div class="main-container">
      <div id="add-space-button">
        <form action="/add_space" method="get">
          <input type="submit" value="Add Space">
        </form>
      </div> 
    <div>